@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kdam+Thmor+Pro&family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Manjari:wght@100;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background: url('./images/fire_dribbble.gif');
    background-size: cover;
    display: flex;
    gap: 100px;
}
.inp{
    font-family: "Righteous", sans-serif;
    margin: 50px;
    font-size: 30px;
    border-radius: 30px;
    background-color: rgb(250, 246, 246);
    border: none;
    padding: 10px;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('./images/search.png');
    background-size: cover;
}
#fm{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cont{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    margin-top: 200px;
    margin-left: 200px;
}
.loc{
    font-size: 60px;
    font-family: "Kdam Thmor Pro", sans-serif;
}
.date{
    display: flex;
    gap: 10px;
}
.dt{
    font-size: 40px;
    font-family: "Manjari", sans-serif;
}
.day{
    font-size: 20px;
    font-family: "Kdam Thmor Pro", sans-serif;
}
.tm{
    font-size: 60px;
    font-family: "Manjari", sans-serif;
}
.temp{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tmp{
    font-size: 80px;
    font-weight: 900;
    font-family: "Manjari", sans-serif;
}
.feel{
    font-size: 60px;
    font-family: "Manjari", sans-serif;
}
.ser{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.er{
    font-size: 40px;
    color: red;
    font-family: "Kdam Thmor Pro", sans-serif;
    margin-left: 50px;
}